# Nordic Semiconductor nRF54L MCU line

# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_NRF54L
	bool
	select SOC_FAMILY_NORDIC_NRF
	help
	  Nordic Semiconductor nRF54L series MCU

config SOC_SERIES_NRF54LX
	bool
	select SOC_SERIES_NRF54L
	help
	  Deprecated Kconfig, use SOC_SERIES_NRF54L instead

config SOC_SERIES
	default "nrf54l" if SOC_SERIES_NRF54L

config SOC_NRF54LM20A
	bool
	select SOC_SERIES_NRF54L
	help
	  NRF54LM20A

config SOC_NRF54LM20A_CPUAPP
	bool
	select SOC_NRF54LM20A
	help
	  NRF54LM20A CPUAPP

config SOC_NRF54LM20A_CPUFLPR
	bool
	select SOC_NRF54LM20A
	help
	  NRF54LM20A CPUFLPR

config SOC_NRF54LM20B
	bool
	select SOC_SERIES_NRF54L
	help
	  NRF54LM20B

config SOC_NRF54LM20B_CPUAPP
	bool
	select SOC_NRF54LM20B
	help
	  NRF54LM20B CPUAPP

config SOC_NRF54LM20B_CPUFLPR
	bool
	select SOC_NRF54LM20B
	help
	  NRF54LM20B CPUFLPR

config SOC
	default "nrf54lm20a" if SOC_NRF54LM20A
	default "nrf54lm20b" if SOC_NRF54LM20B
